<%- include("header"); %>

<div style="border: 2px solid blue; height: auto; width: 1000px; margin: 20px auto; padding: 20px;">
    <h1 class="bg-primary text-light text-center">Add User</h1>
    <form action="/addUserSubmit" method="post">
        <table align="center" class="table table-bordered">
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" required /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" required /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" required /></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <select name="gender" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Role</td>
                <td>
                    <select name="role" required>
                        <option value="Student">Student</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Parent">Parent</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Enrolled Courses</td>
                <td><input type="number" name="enrolled_courses" required /></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" class="btn btn-primary" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>
